.root
{
	-fx-background-color: #1E90FF;
	-fx-font-size: 10pt;
}


.label{
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
}


.button.label
{
	-fx-text-fill: blue;
	-fx-font-weight: bold;
}