.root
{
	-fx-background-color:#87CEFA;
	-fx-font-size: 10pt;
}

.choice-box{
      
     
      
    -fx-padding: 3 10 4 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    
}

.choice-box .label {
     
     -fx-text-fill: black; 
     -fx-font-weight: bold;
}

.button.label{
	-fx-text-fill : blue;
	-fx-font-weight: bold;
}

.table-view .column-header .label{
    -fx-text-fill:black;
    -fx-font-weight: bold;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #87CEFA;
}


.table-row-cell:empty {
    -fx-background-color: khaki;
    -fx-border-color: grey
}

.table-row-cell:hover{
    -fx-background-color: blanchedalmond;
}

.table-row-cell:selected{
    -fx-background-color: chocolate;
}
